// COLORS
$primary-color: #0F2027;
$secondary-color: #2C5364;

$white-color: #fff;

$dark-grey: #0F2027;

$dark-blue-text: #203A43; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
