.midSection {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
}
  
.rightBio {
  flex: 2;
  font-size: 24px;
  font-weight: 100;
  text-align: left;
  color: #bfdbf7;
  margin-right: 0 !important;
  padding: 100px 0 100px 0;
  width: 100%;
}
  
.about {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 30px;
}
  
.leftBio {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: 50px;
}
  
.text {
  color: #bfdbf7;;
  width: 100%;
  font-size: 20px;
}
  
.profile {
  overflow: hidden;
  align-self: center;
  justify-self: center;
}
  
.pic {
  border-radius: 30px;
}

@media screen and (max-width:800px) {
  .midSection{
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
  }

  .leftBio {
    width: 100%;
    margin-left: 0;
  }

  .profile {
    align-self: center;
    justify-self: center;
    margin-bottom: 16px;
  }

  .rightBio{
    padding: 20px;
  }

  .pic {
    border-radius: 20px;
    width: 200px;
    height: 200px;
  }

  .text {
    text-overflow:clip;
    width: 100%;
    font-size: 20px;
  }

  .about {
    text-align: center;
  }

}